<router-outlet></router-outlet>
    <div class="row justify-content-center mt-4 ">
    <div class="col-md-5" style="border:1px solid blue ; border-radius: 5px;;">
        <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="p-3">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" formControlName="name" required placeholder="Name">
    </div>
    <div class="form-group">
        <label for="name">Price</label>
        <input type="text" class="form-control" formControlName="price" required placeholder="Price">
    </div>
    <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" formControlName="description" required placeholder="description">
    </div>
    <div class="form-group">
        <label for="name">image</label>
        <input type="text" class="form-control" formControlName="image" required placeholder="image">
    </div>
    <div class="form-group ">
     <button class="btn btn-primary mt-4" type="submit"> add book</button>   
    </div>
        </form>
    </div>
</div> 
