<!-- <nav class="navbar navbar-expand-lg bg-danger">
  <div class="container-fluid " >
    <a class="navbar-brand" routerLink="/book-list"style="color: white;">Book Store</a>
    <form class="d-flex">
     
    </form>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto ms-3 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link active" href='/book-list' style="color: white;">Show Books</a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link" routerLink='/add-book' style="color: white;">Add Book</a>
        </li>
        
      </ul>
    </div>
  </div>
  
</nav> -->

 <!-- <input class="form-control me-2" (keyup)=search($event) style="width: 400px;" type="search" placeholder="Search" aria-label="Search">
       -->

   <!-- <div class="text-dark " style="background-color: rgb(238, 238, 250);">
      <div class="text p-5 ms-5">
          <h1 class="display-4">Book store using MEAN stack</h1>
        <p class="lead">  developed by sanjay  </p></div> 

      </div> -->
      <router-outlet></router-outlet>

   