<div class="container">
    <div class="row d-flex justify-content-between flex-wrap flex-md-nowwrap align-items-center pt-3 pb-2 mb-3">
       
        <h2 class="h2">All books list</h2>
    </div>
    <!-- <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">price</th>
                    <th scope="col">Description</th>
                    <th scope="col">image</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of Books; let i =index">
                    <td >{{book.name}}</td>
                    <td>{{book.price}}</td>
                    <td >{{book.description}}</td>
                    <img src="{{book.image}}" width="80px"/>
                    <td class="text-center">
                    <button class="btn btn-sm btn-primary me-3" routerLink="/edit-book/{{book._id}}">edit</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(book._id,1)">delete</button>  </td>             
                </tr>
            </tbody>
        </table>
    </div> --> 
    
        <div class="d-flex justify-content-around ">
    <div class="card shadow" style="width: 18rem;border:2px solid rgb(156, 153, 153)"*ngFor="let book of Books; let i =index">
        <img src="{{book.image}}" width="100px" height="250px" class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h4 class="card-title">{{book.name}}</h4>
          <p class="card-text">{{book.description}}</p>
          <h5>RS:{{book.price}}</h5>
          <button class="btn btn-sm btn-primary me-3" routerLink="/edit-book/{{book._id}}">edit</button>
          <button class="btn btn-sm btn-danger" (click)="delete(book._id,1)">delete</button>
        </div>
      </div>
    </div>
    </div>

<router-outlet></router-outlet>